@import "mixins";
@import "colors";

:host ::ng-deep {

  .p-button {
    width: 100%;
  }

  .p-image {
    @include media-xl() {
      width: 15rem;
      height: 14rem;
    }

    @include media-l() {
      width: 100%;
    }

    width: 20.125rem;
    height: 100%;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 14px;
    }
  }

  .auto-card__rent {
    @include media-xl() {
      .rent-card {
        padding: 1.4rem;
      }

      .subtitle {
        font-size: 1.2rem;
      }
    }

  }
}

.auto-card:hover {
  cursor: pointer;
}

.auto-card {
  @include flexMix(row, stretch, space-between, 2rem);

  @include media-xl() {
    height: 272px;
  }

  @include media-l() {
    height: fit-content;
    flex-direction: column;
    align-items: center;
  }

  padding: 1.563rem;
  height: 18.75rem;
  border-radius: 18px;
  border: 1px solid #CED4DA;

  &__content {
    @include flexMix(column, stretch, space-between);

    flex-grow: 1;

    .autopark-block {
      @include flexMix(column, flex-start, flex-start, 15px);

      @include media-l() {
        margin-bottom: 1rem;
      }

      &__year {
        color: $light-text-color;
      }

      &__autopark {
        color: var(--text-color-secondary);
      }

      &__location {
        @include flexMix(row, center, flex-start);

        gap: 0.25rem;
      }

      &__location-icon {
        font-size: 0.9rem;
      }
    }

    .characteristics-block {
      &__label {
        @include media-xl() {
          margin-bottom: 0;
        }

        margin-bottom: 15px;
        font-weight: 400;
      }
    }

  }

  .characteristics {
    @include flexMix(Ñolumn, stretch, flex-start, 1rem);

    width: 12.5rem;

    .block > * {
      margin-top: 0.625rem;
    }
  }

  &__rent {
    @include media-s() {
      width: 100%;
    }

    width: 22rem;
    height: 100%;
  }
}
