@import "mixins";
@import "colors";

:host ::ng-deep {

  .p-card-content {
    @include flexMix(row, stretch, space-between);

    @include media-xl() {
      padding: 0.5rem;
      gap: 1.5rem;
    }

    @include media-l() {
      flex-direction: column;
    }

    padding: 1rem;
    gap: 2rem;
  }

  .p-button {
    @include media-xl() {
      width: 100%;
      height: 1.25rem;
      font-size: 12px;
    }
    width: 100%;
  }
}

.auto-card {
  &__img {
    @include media-xl() {
      height: 200px;
      width: 200px;
    }

    @include media-l() {
      width: 100%;
      height: 200px;
    }

    width: 320px;
    height: 230px;
    object-fit: cover;
    border-radius: 1rem;
  }

  &__content {
    @include flexMix(column, stretch, space-between);

    @include media-xl() {
      font-size: 14px;
    }

    flex-grow: 1;
  }

  &__row {
    @include flexMix(column, stretch, space-between);

    @include media-xl() {
      gap: 0.7rem;

      &:last-child {
        gap: 0.2rem;
      }
    }

    @include media-l() {

      &:last-child {
        margin-top: 1rem;
      }
    }

    gap: 1rem;
  }

  &__year {
    color: $light-text-color;
  }

  &__autopark {
    color: var(--text-color-secondary);
  }

  &__location {
    @include flexMix(row, center, flex-start);

    gap: 0.25rem;
  }

  &__location-icon {
    font-size: 0.9rem;
  }

  &__characteristics {
    @include flexMix(Ñolumn, stretch, space-between);

    width: 12.5rem;

    .block > * {
      margin-top: 0.625rem;
    }
  }

  &__additional {
    @include flexMix(column, stretch, space-between);

    @include media-xl() {
      height: 12.5rem;
      font-size: 14px;
      padding: 1rem;
      width: 12.5rem;
    }

    @include media-l() {
      width: 100%;
    }

    width: 21.875rem;
    padding: 2rem;
    border: 1px solid $light-text-color;
    border-radius: 1rem;
  }

  &__price {
    @include media-xl() {
      font-size: 18px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    list-style: inside;
  }
}
