@import "colors";
@import "mixins";

.burger {
  display: none;
  position: relative;
  width: 30px;
  height: 18px;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;

  :host-context(.black) {
    margin-top: 20px;
    .burger__line {
      background-color: white;
    }
  }

  :host-context(.white) {
    .burger__line {
      background-color: black;
    }
  }

  &__line {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
    transform: translateY(-50%);
    transition: opacity 0.3s ease-in-out;
  }
}

:host-context(.black) {
  .burger::before, .burger::after {
    background-color: white;
  }
}

:host-context(.white) {
  .burger::before, .burger::after {
    background-color: black;
  }
}

:host-context(.bg-gray) {
  .nav__item:hover {
    cursor: pointer;
    background-color: #333333;
  }
}

:host-context(.color-red) {
  .nav__item:hover {
    cursor: pointer;
    color: #F20519;
  }
}

.burger::before, .burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, bottom 0.3s ease-in-out;
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}


.nav-wrapper {
  height: 100%;

  .nav {
    height: 100%;

    &__list {
      height: 100%;
      display: flex;
      align-items: center;

      .nav__item {
        @include media-laptop() {
          padding: 10px 20px;
        }

        @include media-l() {
          padding: 10px 10px;
        }

        padding: 15px 24px;
        display: flex;
        align-items: center;
        height: 100%;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}


//burger styles
@media (max-width: 536px) {
  .burger {
    display: block;
  }

  :host-context(.black) {
    .nav {
      background-color: black;
    }
  }

  :host-context(.white) {
    .nav {
      background-color: white;
    }
  }

  .nav {
    position: fixed;
    margin-top: 0.5rem;
    padding: 5%;
    width: 100%;
    height: 10rem;
    right: 0;
    top: inherit;
    z-index: 5;
    overflow-y: auto;
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;

    &__list {
      flex-direction: column;
      align-items: flex-start;
    }

    &__item {
      margin-right: 0;
      margin-bottom: 0.7rem;
    }

    &__link {
      font-size: 12px;
    }
  }

  .visible {
    transform: none;
  }

  .active {
    .burger__line {
      opacity: 0;
    }
  }

  .active::before {
    top: 50%;
    transform: rotate(45deg);
  }

  .active::after {
    bottom: auto;
    top: 50%;
    transform: rotate(-45deg);
  }
}