@import "src/theme/mixins";
@import "src/theme/colors";

.hat-wrapper {
  @include flexMix(row, flex-start, space-between);
  @include media-l() {
    align-items: center;
    flex-direction: column;
  }

  width: 100%;
  min-height: 15.625rem;
  gap: 3vw;
  padding: 1.438rem;
  border-radius: 14px;
  background: linear-gradient(180deg, #000000 0%, #CA1B1B 100%);

  .logo-wrapper {
    @include media-xl() {
      height: 11.875rem;
    }

    height: 13.125rem;
    width: 13.125rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  .info {
    @include flexMix(column, flex-start, flex-start);
    @include media-l() {
      align-items: center;
    }

    &__status {
      @include flexMix(row, center, flex-start);

      height: 1.75rem;
      width: fit-content;
      padding: 0 1.25rem;
      border-radius: 3px;
      background: $dark-bg-color;

      .icon {
        height: 1rem;
        width: 1.25rem;
        margin-right: 3px;

        img {
          height: inherit;
          width: inherit;
        }
      }

      .status-label {
        font-size: 14px;
      }
    }

    &__name {
      @include media-xl() {
        font-size: 24px;
      }

      margin-top: 1rem;
      margin-bottom: 3.625rem;
      word-wrap: break-word;
      color: var(--surface-a)
    }

    &__sub-panel {
      @include flexMix();
      @include media-s() {
        flex-direction: column;
        width: 12.5rem;

        .panel {
          width: 100%;
        }
      }

      gap: 1rem;
    }
  }

  .favorite {
    @include media-l() {
      order: -1;
    }

    margin-left: auto;
    color: var(--surface-50);

    .pi {
      font-size: 1.5rem;
    }
  }
}