<form [formGroup]="carForm" (ngSubmit)="onSubmit()">
  <div class="create-car">
    <div class="create-car__specifications">
      <div class="mark-model">
        <div class="mark">
          <div class="subtitle">Статус аренды</div>
          <div class="specification-input">
            <p-dropdown
              [options]="carStatus"
              [formControl]="carForm.controls.status"
              placeholder="Выберите тариф(ы)"
            ></p-dropdown>
          </div>
        </div>
        <div class="mark">
          <div class="subtitle">Марка автомобиля</div>
          <div class="specification-input">
            <input
              type="text"
              [formControl]="carForm.controls.brand"
              pInputText
              placeholder="Начните вводить название"
            />
          </div>
        </div>
        <div class="model">
          <div class="subtitle">Модель автомобиля</div>
          <div class="specification-input">
            <input
              type="text"
              [formControl]="carForm.controls.model"
              pInputText
              placeholder="Начните вводить название"
            />
          </div>
        </div>
      </div>
      <div class="dropdowns">
        @for (options of STATIC_DROPDOWNS; track options) {
          <div class="block">
            <div class="subtitle">
              {{ options.label }}
            </div>
            <p-dropdown
              [options]="options.options"
              [formControlName]="options.formControlName"
              [placeholder]="options.placeholder"
              class="dropdown"
            ></p-dropdown>
          </div>
        }
        <div class="year-power">
          <div class="year">
            <div class="subtitle">Год выпуска</div>
            <div class="specification-input">
              <p-inputNumber
                [useGrouping]="false"
                [min]="1940"
                [max]="getCurrentYear()"
                [formControl]="carForm.controls.yearOfRelease"
                suffix=" год"
                placeholder="Введите год"
              ></p-inputNumber>
            </div>
          </div>
          <div class="power">
            <div class="subtitle">Мощность</div>
            <div class="specification-input">
              <p-inputNumber
                [useGrouping]="false"
                [min]="20"
                [max]="1000"
                [formControl]="carForm.controls.enginePower"
                suffix=" л.с."
                placeholder="Введите мощность автомобиля"
              ></p-inputNumber>
            </div>
          </div>
        </div>
      </div>

      <div class="tariff">
        <div class="subtitle">Тариф</div>
        <div class="label">Вам доступны тарифы, которые подходят для выбранного автомобиля в вашем регионе</div>
        <div class="specification-input">
          <p-dropdown
            [options]="tariffTypes"
            [formControl]="carForm.controls.type"
            placeholder="Выберите тариф(ы)"
          ></p-dropdown>
        </div>
      </div>
    </div>

    <div class="create-car__financial-additional-info">
      <div class="financial-info">
        <div class="subtitle">Финансовая информация</div>
        <div class="label">Отметьте информацию, которая будет отображаться в профиле автомобиля</div>
        <div class="options">
          <!--          @for (option of financialOptions; track option) {-->
          <!--            <div [class]="option.class">-->
          <!--              @for (item of option.items; track item; let isLast = $last) {-->
          <!--                <p-radioButton></p-radioButton>-->
          <!--                <label>{{ item.label }}</label>-->
          <!--                @if (!isLast) {-->
          <!--                  <span class="vertical-line"></span>-->
          <!--                }-->
          <!--                @if (item.placeholder) {-->
          <!--                  <p-inputNumber [placeholder]="item.placeholder" class="option-input"></p-inputNumber>-->
          <!--                  <span>{{ item.unit }}</span>-->
          <!--                }-->
          <!--              }-->
          <!--            </div>-->
          <!--          }-->
          <form [formGroup]="depositForm" class="deposit">
            <p-radioButton
              [formControl]="depositForm.controls.status"
              [value]="EDepositStatus.NON_DEPOSIT"
            ></p-radioButton>
            <label>Без Залога</label>
            <span class="vertical-line"></span>
            <p-radioButton [formControl]="depositForm.controls.status" [value]="EDepositStatus.DEPOSIT"></p-radioButton>
            <label>Залог</label>
            <p-inputNumber
              placeholder="1000"
              class="option-input"
              [formControl]="depositForm.controls.value"
            ></p-inputNumber>
            <span>₽</span>
          </form>
          <form [formGroup]="commissionForm" class="commission">
            <p-radioButton
              [formControl]="commissionForm.controls.status"
              [value]="EComissionStatus.NON_COMMISSION"
            ></p-radioButton>
            <label>Без комиссии</label>
            <span class="vertical-line"></span>
            <p-radioButton
              [formControl]="commissionForm.controls.status"
              [value]="EComissionStatus.COMMISSION"
            ></p-radioButton>
            <label>Комиссия</label>
            <p-inputNumber
              placeholder="0.1 - 50"
              class="option-input"
              [max]="50"
              [min]="0"
              [formControl]="commissionForm.controls.value"
            ></p-inputNumber>
            <span>%</span>
          </form>
          <div class="redemption">
            <p-checkbox [binary]="true" (onChange)="changeBuyCarStatus($event)" class="checkbox"></p-checkbox>
            <label>С возможностью выкупа</label>
            <p-inputNumber placeholder="10 000" class="option-input" [formControl]="buyPriceControl"></p-inputNumber>
            <span>₽</span>
          </div>
          <div class="price">
            <span>Введите цену аренды</span>
            <p-inputNumber class="option-input" [formControl]="carForm.controls.price"></p-inputNumber>
            <span>руб/сут</span>
          </div>
          <div class="payments">
            <span>Выплаты каждые</span>
            <p-inputNumber class="option-input" [formControl]="carForm.controls.minRentPeriod"></p-inputNumber>
            <span>дня</span>
          </div>
        </div>
      </div>
      <div class="additional-info">
        <div class="mb-2">
          <div class="subtitle">Дополнительная информация</div>
          <div class="label">Отметьте информацию, которая будет отражена в карточке автомобиля</div>
          <p-multiSelect
            class="multiselect"
            display="chip"
            [formControl]="carForm.controls.additionalInfo"
            [options]="additionalInfo"
          ></p-multiSelect>
        </div>
        <div class="additional-info">
          <div class="subtitle">Условия аренды</div>
          <div class="label">
            Отметьте условия для аренды данного авто (Возможно водителю потребуются паспорт или особая водительская
            категория)
          </div>
          <p-chips class="chips" [formControl]="carForm.controls.rentalConditions" />
        </div>
      </div>
    </div>

    <div class="create-car__verification">
      <div class="sts">
        <div class="subtitle">СТС</div>
        <input type="text" [formControl]="carForm.controls.STS" pInputText placeholder="8756347856375625964" />
      </div>
      <div class="vin">
        <div class="subtitle">VIN</div>
        <input
          type="text"
          [formControl]="carForm.controls.VIN"
          pInputText
          placeholder="Введите идентификационной номер"
        />
      </div>
      <div class="gov-number">
        <div class="subtitle">Государственные номера</div>
        <input
          type="text"
          [formControl]="carForm.controls.carStateNumber"
          pInputText
          placeholder="Введите государственный номер"
        />
      </div>
    </div>

    <div class="create-car__photos">
      <div class="subtitle">Фотографии автомобиля</div>
      @if (editMode()) {
        <div class="card">
          <p-messages
            [value]="[{ severity: EMessage.WARN, detail: 'Осторожно! Изменения, в данной секции, нельзя отменить' }]"
            [enableService]="false"
            [closable]="false"
          />
        </div>
        <div class="subtitle">Отображаемые фотографии</div>
        <div class="images-list mb-1">
          @for (url of images(); track url; let i = $index) {
            <div class="item">
              <p-image [src]="url" [preview]="true" class="image" width="100" height="100" alt="Image"></p-image>
              <p-button icon="pi pi-times" (click)="confirmDeleteCarImage($event, url)" [rounded]="true"></p-button>
            </div>
          }
        </div>
      }
      <div class="label">
        Загрузите фотографии автомобиля, которые будут отображаться на сайте (минимум 1, максимум 10)
      </div>
      <div class="mb-1">
        <app-file-upload #files></app-file-upload>
      </div>
      @if (editMode()) {
        <p-button
          icon="pi pi-check"
          label="Добавить в отображаемые"
          [disabled]="!(files.files$ | async)?.length"
          (click)="addImagesToCar()"
          [rounded]="true"
        ></p-button>
      }
    </div>

    <div class="create-car__btns">
      <p-button
        type="submit"
        [disabled]="carForm.invalid || carForm.pending"
        class="add-btn"
        [label]="editMode() ? 'Изменить автомобиль' : 'Добавить автомобиль'"
      ></p-button>
      @if (editMode()) {
        <p-button
          class="cancel-btn"
          label="Удалить машину"
          (click)="confirmDeleteCar($event)"
          [outlined]="true" severity="success"
          icon="pi pi-trash"
        ></p-button>
      }
      <p-button
        class="cancel-btn"
        label="Отменить изменения"
        [routerLink]="['/', AppRoutes.CONTROL_PANEL, ControlPanel.CAR_CONTROL, ControlPanel.CARS_TABLE]"
        [outlined]="true" severity="success"
      ></p-button>
    </div>
  </div>
</form>
<p-confirmDialog />
