@import "mixins";
@import "colors";

.footer {
  background-color: $dark-bg-color;
  color: var(--primary-color-text);
  font-size: 14px;

  &__contact-info {
    margin-bottom: 25px;
    color: #CED4DA;

    p:first-child {
      margin-bottom: 0.3rem;
    }
  }

  &__mail {
    @include flexMix(row, center, flex-start, 1rem);

    margin-bottom: 40px;
    color: #CED4DA;
  }

  &__subtitle {
    @include media-xl() {
      font-size: 20px;
    }

    margin-bottom: 1.5rem;
    text-transform: uppercase;

    .logo {
      margin-top: -0.7rem;

      @include media-l() {
        margin-top: 1rem;
      }
    }
  }

  &__menu {
    @include flexMix(row, flex-start, space-between, 0, wrap);

    padding: 3rem 0;

    @include media-s() {
      gap: 2rem;
    }

  }

  &__list {
    @include flexMix(column, stretch, center);

    row-gap: 1rem;
  }

  &__list-row {
    @include flexMix(row, flex-start, flex-start, 10px);
  }

  &__link {
    @include media-xl() {
      font-size: 14px;
    }

    color: $light-text-color;

    &:hover {
      color: var(--primary-color);
    }
  }

  &__divider {
    width: 100%;
    height: 1px;
    background: $light-text-color;
  }

  &__copyright {
    padding: 1rem 0;
    font-size: 0.7rem;
    color: $light-text-color;

    @include media-l() {
      text-align: center;
    }
  }
}
