<header class="header">
  <div class="header__first-level container">
    <img src="assets/icons/logo.png" alt="logo" (click)="navigateToMain()"/>
    <div class="header__user-panel">
      <app-user-panel></app-user-panel>
      <i class="header__hamburger pi pi-bars" (click)="isOpen = true"></i>
    </div>
  </div>

  <p-sidebar [(visible)]="isOpen" position="right">
    <nav class="mobile-nav">
      <ul class="mobile-nav__list">
        <li *ngFor="let link of MAIN_NAV" [routerLink]="link.routerLink">
          <a class="mobile-nav__link">{{ link.label }}</a>
        </li>
        <li *ngFor="let link of SECONDARY_NAV" [routerLink]="link.routerLink">
          <a class="mobile-nav__link">{{ link.label }}</a>
        </li>
        <li>
          <a class="mobile-nav__location">
            <i class="pi pi-map-marker"></i><span>Москва</span></a
          >
        </li>
      </ul>
    </nav>
  </p-sidebar>

  <div class="header__nav-wrapper">
    <nav class="main-nav container">
      <ul class="main-nav__list">
        <li *ngFor="let link of MAIN_NAV" class="main-nav__list-item" [routerLink]="link.routerLink">
          <a class="main-nav__link link">{{ link.label }}</a>
        </li>
      </ul>
    </nav>
  </div>

  <nav class="secondary-nav container">
    <ul class="secondary-nav__list">
      <li *ngFor="let link of SECONDARY_NAV" [routerLink]="link.routerLink">
        <a class="secondary-nav__link link small-text">{{ link.label }}</a>
      </li>
    </ul>

    <a class="secondary-nav__location link small-text">
      <i class="pi pi-map-marker"></i><span>Москва</span></a
    >
  </nav>
</header>
