@import "../../../theme/mixins";
@import "../../../theme/colors";

.header {
  border-bottom: 1px solid $light-text-color;

  &__first-level {
    @include flexMix(row, center, space-between);

    padding: 1.5rem 0;

    img {
      cursor: pointer;
    }
  }

  &__user-panel {
    @include flexMix(row, center, space-between);

    gap: 1rem;
  }

  &__hamburger {
    display: none;

    @include media-l() {
      display: block;
    }
  }

  &__nav-wrapper {
    width: 100%;
    background-color: $dark-bg-color;
  }
}

.main-nav {
  position: relative;
  left: -2rem;
  padding: 1rem 0;

  @include media-xl() {
    left: -1rem;
  }

  @include media-l() {
    display: none;
  }

  &__list {
    @include flexMix(row, center, flex-start);
  }

  &__link {
    color: var(--primary-color-text);
    padding: 1rem 2rem;

    @include media-xl() {
      padding: 1rem;
    }

    &:hover {
      background-color: $dark-active-color;
    }
  }
}

.secondary-nav {
  @include flexMix(row, center, space-between);

  padding: 1rem 0;

  @include media-l() {
    display: none;
  }

  &__list {
    @include flexMix(row, center, flex-start);

    gap: 3rem;
  }

  &__link:hover {
    color: var(--primary-color);
  }

  &__location {
    @include flexMix(row, center, flex-start);

    gap: 0.5rem;

    &:hover {
      color: var(--primary-color);
    }
  }
}

.mobile-nav {
  &__list {
    @include flexMix(column, center, flex-start);

    gap: 1rem;
  }

  &__location {
    @include flexMix(row, center, flex-start);

    gap: 0.5rem;
    color: var(--primary-color);
  }
}
