<header class="header">
  <div class="header__first-level container">
    <img src="assets/icons/logo.svg" alt="logo" />
    <div class="header__user-panel">
      <app-user-panel></app-user-panel>
      <i class="header__hamburger pi pi-bars" (click)="isOpen = true"></i>
    </div>
  </div>

  <p-sidebar [(visible)]="isOpen" position="right">
    <nav class="mobile-nav">
      <ul class="mobile-nav__list">
        @for (link of mainNavList(); track link) {
          <li>
            <a class="mobile-nav__link" [routerLink]="link.routerLink">{{ link.label }}</a>
          </li>
        }
        @for (link of SECONDARY_NAV; track link) {
          <li>
            <a class="mobile-nav__link" [routerLink]="link.routerLink">{{ link.label }}</a>
          </li>
        }
        <li>
          <a class="mobile-nav__location">
            <i class="pi pi-map-marker"></i>
            @if (regions$ | async; as regions) {
              <span>
                <p-dropdown [options]="regions" [filter]="true" filterBy="name" optionLabel="name"></p-dropdown>
              </span>
            }
          </a>
        </li>
      </ul>
    </nav>
  </p-sidebar>

  <div class="header__nav-wrapper">
    <nav class="main-nav container">
      <ul class="main-nav__list">
        @for (link of mainNavList(); track link) {
          <li class="main-nav__list-item">
            <a class="main-nav__link link" [routerLink]="link.routerLink">{{ link.label }}</a>
          </li>
        }
      </ul>
    </nav>
  </div>

  <nav class="secondary-nav container">
    <ul class="secondary-nav__list">
      @for (link of SECONDARY_NAV; track link) {
        <li>
          <a class="secondary-nav__link link small-text" [routerLink]="link.routerLink">{{ link.label }}</a>
        </li>
      }
    </ul>

    <a class="secondary-nav__location link small-text">
      <i class="pi pi-map-marker"></i>
      @if (regions$ | async; as regions) {
        <span>
          <p-dropdown
            [options]="regions"
            [filter]="regions.length > 8"
            filterPlaceholder="Название"
            emptyFilterMessage="В других городах пока автопарков не найдено"
            filterBy="name"
            optionLabel="name"
            [formControl]="selectedRegionControl"
          ></p-dropdown>
        </span>
      }
    </a>
  </nav>
</header>
