@import "mixins";

:host ::ng-deep {
  .p-inputnumber-input {
    width: 130px;
  }

  .p-button {
    @include media-l() {
      width: 100%;
      flex-grow: 1;
    }
  }
}

.filter {
  @include flexMix(column, flex-start, space-between);

  gap: 2rem;

  @include media-l() {
    align-items: center;
    text-align: center;
  }

  &__title {
    font-size: 2rem;
    font-weight: bold;
  }

  &__form {
    @include flexMix(column, flex-start, space-between);

    gap: 2rem;

    @include media-l() {
      align-items: center;
    }
  }

  &__dropdowns {
    @include flexMix(row, flex-start, flex-start);

    gap: 2rem;
    flex-wrap: wrap;

    @include media-l() {
      justify-content: center;
    }
  }

  &__row {
    @include flexMix(row, center, space-between);

    gap: 2rem;
    flex-wrap: wrap;

    @include media-l() {
      flex-direction: column;
    }
  }

  &__price {
    @include flexMix(row, center, space-between);

    gap: 1rem;
    flex-wrap: wrap;
    font-weight: bold;

    @include media-s() {
      @include flexMix(column, center, space-between);
    }
  }

  &__price-dash {
    width: 1rem;
    height: 2px;
    background-color: var(--text-color);
  }

  &__additional-options {
    @include flexMix(row, center, flex-start);

    gap: 1rem;
    flex-wrap: wrap;

    @include media-l() {
      justify-content: center;
    }
  }

  &__button {
    width: 100%;
  }
}
