<header class="header">
  <div class="header__first-level">
    <div class="logo">
      <img src="../../../assets/images/logo-light.svg" alt="logo">
    </div>

    <ng-container *ngIf="!isAuthorized; else icons">
      <div class="login">
        Войти
      </div>
    </ng-container>

    <ng-template #icons>
      <div class="icons">
        <i class="pi pi-comment"></i>
        <i class="pi pi-heart"></i>
        <i class="pi pi-user"></i>
      </div>
    </ng-template>

  </div>
  <div class="header__second-level black">
    <app-custom-navbar [menuItems]="secondLevelMenu" class="bg-gray"></app-custom-navbar>
  </div>

  <div class="header__third-level white">
    <app-custom-navbar [menuItems]="thirdLevelMenu" class="color-red"></app-custom-navbar>
    <div class="location">
      <i class="pi pi-map-marker"></i>
      <span class="label">
        Москва
      </span>
    </div>
  </div>
</header>
