@import "mixins";

.header {
  height: 31vh;
  width: 70%;
  padding-top: 2rem;
  margin: 0 auto;
  &__first-level {
    background-color: #1e7fdf;
    @include flexMix(row, center, space-between);

    .logo-search {
      @include flexMix(row, center, space-between);

      &__logo {
        margin-right: 5rem;
      }

      &__search {
        .search-input {
          width: 36.5rem;
        }
      }
    }

    .login-label {
      font-weight: 500;
    }

    .icons {

    }
  }
}