@import "mixins";
@import "colors";

.header {
  @include media-laptop() {
    height: 8.2rem;
  }

  @include media-l() {
    height: 7rem;
  }

  width: 100%;
  height: 9.6rem;
  overflow: hidden;
  border-bottom: 1px solid #AEAEAE;

  &__first-level {
    @include flexMix(row, center, space-between);

    @include media-laptop() {
      height: 50px;

      .logo img {
        width: 120px;
      }
    }

    @include media-l() {
      height: 40px;

      .logo img {
        width: 100px;
        margin-left: -0.6rem;
      }

      .login {
        font-size: 13px;
      }
    }

    max-width: 80%;
    height: 66px;
    margin: 0 auto;

    .logo {
      margin-left: 0.6rem;

      &:hover {
        cursor: pointer;
      }
    }

    .login {
      font-weight: bold;

      &:hover {
        cursor: pointer;
      }
    }

    .icons > i {
      font-size: 1.4rem;
      cursor: pointer;
    }

    .icons i:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__second-level {
    @include flexMix(row, center, flex-start);
    @include media-laptop() {
      font-size: 14px;
      height: 3rem;
    }

    @include media-l() {
      font-size: 11px;
      height: 2.5rem;
    }

    padding: 0 10%;
    height: 3.125rem;
    font-weight: 600;

    .bg-gray {
      height: 100%;
    }
  }

  &__third-level {
    @include media-laptop() {
      font-size: 14px;
    }
    @include media-l() {
      font-size: 12px;
    }

    display: flex;
    align-items: center;

    max-width: 80%;
    margin: 0 auto;

    height: 35px;

    .location {
      @include media-l() {
        font-size: 12px;
        margin-bottom: 6px;
      }
      margin-left: auto;
    }
  }
}

.black {
  background-color: $black-color;
  color: $white-color
}