@import "mixins";
@import "colors";

.sub-info-panel {
  @include media-s() {
    padding: 1rem 1.25rem;
  }

  width: 100%;
  height: 5.75rem;
  padding: 1.25rem 3rem;
  background-color: white;
  border-radius: 10px;

  .subtitle {
    margin-bottom: 0.781rem;
  }
}