<div class="content">
  <div class="header">
    <span class="header__label">Вход в существующий аккаунт</span>
<!--    <app-backend-errors *ngIf="(backendError | async) as message"-->
<!--                        [message]="message"-->
<!--    ></app-backend-errors>-->
  </div>

  <div class="main">
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <app-text-input
              placeholder="Ваш email"
              [errorsMap]="requiredMsg"
              [formControl]="loginForm.controls.email"
      ></app-text-input>

      <app-password-input
              placeholder="Пароль"
              [errorsMap]="passwordMsg"
              [formControl]="loginForm.controls.password"
      ></app-password-input>

    </form>

    <div class="main__forget-psw" (click)="forgetPassword()">
      Забыли пароль?
    </div>
  </div>

  <div class="footer">
    <div class="footer__register">
      <span class="status-label">Нет учетной записи?</span>
      <span class="redirect" [routerLink]="['registration']"> Зарегистрироваться</span>
    </div>

    <p-button
            label="Войти"
            (click)="onSubmit()"
            [disabled]="(loginForm.invalid || loginForm.pending)"
    ></p-button>

  </div>
</div>
