@import "colors";
@import "mixins";

:host ::ng-deep p-button .p-component {
  width: 100%;
}

:host ::ng-deep {
  .control-wrapper {
    margin-bottom: 1.25rem;
  }
}

.content {
  @include flexMix(column, none, none);
  height: 100%;

  .header {
    margin-bottom: 1.5rem;

    &__label {
      @include media-s() {
        font-size: 16px;
      }

      font-weight: 600;
      font-size: 24px;
    }
  }

  .main {
    flex: 1 1 auto;

    .login-form > * {
      margin-bottom: 1.25rem;
    }

    &__forget-psw {
      width: fit-content;
      color: $link-color;
      cursor: pointer;
    }
  }

  .footer {
    font-size: 14px;
    margin-top: 4.5rem;

    &__register {
      margin-bottom: 1.125rem;

      .redirect {
        color: $link-color;
        cursor: pointer;
      }
    }
  }
}
