<div class="container">
  <p-card class="card">
    <div class="card__image">
      <img src="assets/images/robot.jpg" alt="car image">
    </div>
    <div class="card__content">
      <div class="model">
        <span>Kia Cerato </span>
        <span>2010</span>
      </div>
      <div class="autopark-name">
        Автопарк: Быстрые ветра
      </div>
      <div class="price">
        1500 руб / сут
      </div>
      <div class="description">
        Просто шикарный Авто для большой семьи и кампании, очень вместительный на раз можно перевести диван
        и ещё останется место)) даже при своих размерах не очень большой расход есть конечно и нюансы это коробка...
      </div>
    </div>
    <div class="card__rating">
      <app-rating-date [rating]="{ratingValue: 3, date: '2020-03-12'}"></app-rating-date>
    </div>
  </p-card>

</div>