@import "../../../theme/colors.scss";
@import "mixins";

.review-wrapper {
  width: 100%;
  height: 31vh;

  .content {
    @include flexMix(row, start, space-between);

    @include media-xl() {
      flex-direction:column;
    }

    .main-data-block {
      @include flexMix();

      &__avatar {
        position: relative;
        width: 21.7rem;
        height: 13.8rem;
        margin-right: 1.625rem;

        @include media-s() {
          width: 12.5rem;
          height: 6.25rem;
        }

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &__auto-data {
        @include flexMix(column, start);

        .auto-info {

          margin-bottom: 1rem;
          color: $blue-color;

          &__name {
            font-weight: 700;
          }
        }

        .autopark {
          &__title {
            font-weight: 700;
          }

          &__name {
            color: $blue-color;
            font-weight: 700;
          }
        }

        .price {
          @include media-s() {
            margin-top: 1rem;
            margin-bottom: 1rem;
          }

          font-weight: 700;
          margin: 2rem 0 2rem 0;
        }

        .comment {
          &-bold {
            font-weight: 700;
          }
        }
      }
    }

    .rating-block {
      @include flexMix();

      &__date {
        margin-right: 0.5rem;
      }
    }
  }


}