<p-card class="review-wrapper">
  <div class="header">
    <div class="header__user-info">
      <div class="avatar">
        <img [src]="reviewModel.avatarPath" alt="user avatar">
      </div>
      <div class="name-block">
        <div class="name-block__fio">
          {{reviewModel.userFio}}
        </div>
        <div class="name-block__status">
          {{reviewModel.userStatus}}
        </div>
      </div>
    </div>
    <div class="header__additional-info">
      <div class="date">
        {{reviewModel.date}}
      </div>
      <div class="rating">
        <form [formGroup]="formGroup">
          <p-rating formControlName="defaultValue" [cancel]="false"></p-rating>
        </form>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="main__auto">
      <span class="main__auto-bold">Автомобиль:</span> {{reviewModel.autoMark}}
    </div>
    <div class="main__comment">
      <span class="main__comment-bold">Комментарий:</span> {{reviewModel.commentText}}
    </div>
  </div>
</p-card>
