@import "mixins";
@import "colors";

$nav-panel-width: 88px;

:host ::ng-deep {
  .p-sidebar-left {
    left: $nav-panel-width;
  }

  .p-sidebar .p-sidebar-header {
    font-size: 26px;
    font-weight: bold;
  }

  .p-sidebar .p-sidebar-content {
    height: 100%;
  }
}

.control-panel {
  @include flexMix(row, flex-start, flex-start);

  width: 100%;
  height: 100%;

  .item {
    margin-bottom: 11px;

    a {
      color: var(--web-gray-400-color);
      text-decoration: none;
    }

    a:hover {
      color: var(--web-black-color);
    }
  }

  &__side-navigation {
    @include flexMix(column, center, flex-start);

    width: $nav-panel-width;
    height: 100%;
    padding-top: 26px;
    position: fixed;
    border: 1px solid #CED4DA;
    background-color: #FFF;

    .item {
      margin-bottom: 1rem;

      &:hover {
        cursor: pointer;
      }
    }

  }

  &__header {
    @include flexMix(row, center, space-between);

    width: 100%;
    height: 4rem;
    padding: 0 2rem 0 8rem;
    background-color: #F9F9F9;;

    .title {
      font-size: 28px;
      font-weight: bold;
    }

    .right-side {
      @include flexMix();
    }

    .icons {
      ul li {
        display: inline;
        margin-left: 1rem;
      }
    }
  }

  &__layouts {
    height: 100%;
    width: 100%;
  }

  &__content {
    padding: 2rem 2rem 2rem 8rem;
  }
}
