<p-card class="autopark-card-wrapper">
  <div class="content">
    <div class="content__avatar">
      <img [src]="autoparkCard.avatarPath" alt="autopark image">
      <div class="premium-star" *ngIf="autoparkCard.isPremium">
        <form [formGroup]="formGroup">
          <p-rating
                  [cancel]="false"
                  [readonly]="true"
                  [stars]="1"
                  formControlName="lonelyStarFill"
          ></p-rating>
        </form>
      </div>
    </div>
    <div class="content__data">
      <div class="name">
        {{autoparkCard.autoparkName}}
      </div>
      <div class="count">
        <div class="count__auto">
          {{autoparkCard.autoCount}} автомобилей
        </div>
        <div class="count__rating-premium" *ngIf="autoparkCard.isPremium">
          <form [formGroup]="formGroup">
            <p-rating formControlName="defaultValue" [cancel]="false" [readonly]="true"></p-rating>
          </form>
        </div>
        <div class="count__rating" *ngIf="!autoparkCard.isPremium">
          {{autoparkCard.ratingCount}}
          <form [formGroup]="formGroup">
            <p-rating
                    [cancel]="false"
                    [readonly]="true"
                    [stars]="1"
                    formControlName="lonelyStarFill"
            ></p-rating>
          </form>
        </div>
      </div>
    </div>
  </div>
</p-card>
