$light-gray-color: rgb(208, 206, 206);
$white-color: #ffffff;
$blue-color: #1e7fdf;
$error-color: #e03e4c;
$gold-color: gold;

$primary-color: #f20519;
$dark-bg-color: #121212;
$dark-active-color: #333333;
$light-text-color: #ced4da;
