@mixin flexMix($direction: row, $align: center, $justify: center) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin circle-logo-properties($width) {
  width: $width;
  height: $width;
  background-position: center center;
  background-size: cover;
  border-radius: 50%;
}

// 1200px
@mixin media-xl {
  @media (max-width: 1280px) {
    @content;
  }
}

// 768px
@mixin media-l {
  @media (max-width: 768px) {
    @content;
  }
}

// 480px
@mixin media-s {
  @media (max-width: 480px) {
    @content;
  }
}
