<div class="dropzone" appFileDrop (fileDropped)="onFileDropped($event)">
  <img ngSrc="assets/icons/load-file.svg" alt="file upload logo" height="36" width="36" />
  <h3>Чтобы загрузить файл, перетащите его сюда</h3>
  <h3>или</h3>
  <input
    type="file"
    id="fileDropRef"
    class="file-uploader"
    multiple
    (change)="onFilesSelected($event)"
    [accept]="allowedFileTypes"
  />
  <label for="fileDropRef">Выберите файл</label>
</div>
@if (isErrorType) {
  <div class="error-type">
    <small class="p-error">Добавляйте файлы только формата {{ allowedFileTypes }}</small>
  </div>
}
<div class="images-list">
  @for (file of filesPreview$ | async; track file; let i = $index) {
    <div class="item">
      @if (file.url) {
        <p-image [src]="file.url" [preview]="true" class="image" width="100" height="100" alt="Image"></p-image>
      }
      @if (!file.url) {
        <p>{{ file.name }}</p>
      }
      <p>{{ file.size | bytes }}</p>
      <p-button icon="pi pi-times" (click)="onDeleteFile(i)" [rounded]="true"></p-button>
    </div>
  }
</div>
