@import "mixins";
@import "colors";

.hat-wrapper {
  @include flexMix(row, flex-start, space-between, 2rem);

  @include media-l() {
    height: fit-content;
    align-items: center;
    flex-direction: column;
  }

  width: 100%;
  height: 15.625rem;
  padding: 1.438rem;
  border-radius: 14px;
  background: linear-gradient(180deg, #000000 0%, #CA1B1B 100%);

  .logo-wrapper {
    @include media-xl() {
      width: unset;
    }

    position: relative;
    height: 13.125rem;
    width: 13.125rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }

    .absolute-wrap {
      position: absolute;
      width: 100%;
    }

    &-ispremium {
      @include flexMix(row, center, center, 10px);

      height: 28px;
      width: 100%;
      border-radius: 10px 10px 0 0;
      background-color: #000000;
      color: #ffc107
    }
  }

  .info {
    @include flexMix(column, flex-start, flex-start);

    @include media-l() {
      align-items: center;
    }

    height: 100%;

    &__name {
      @include media-xl() {
        font-size: 24px;
      }
      @include media-s() {
        text-align: center;
      }

      margin-bottom: 5px;
      word-wrap: break-word;
      color: var(--surface-a)
    }

    &__address {
      margin-bottom: 0.5rem;
      color: var(--surface-a);
    }

    &__description {
      @include media-l() {
        margin-bottom: 1.5rem;
      }

      color: #7E7E7E;
      width: 70%;
      margin-bottom: auto;
    }

    &__sub-panel {
      @include flexMix();
      @include media-s() {
        flex-direction: column;
        width: 12.5rem;

        .panel {
          width: 100%;
        }
      }

      gap: 1rem;
    }
  }

  .favorite {
    @include media-l() {
      order: -1;
    }

    margin-left: auto;
    color: var(--surface-50);

    .pi {
      font-size: 1.5rem;
    }
  }
}