@if (isLoading$ | async) {
  <app-spinner></app-spinner>
} @else {
  @if (auctionAutoparks$ | async; as cards) {
    <div class="auction-places">
      <div class="top">
        <!--        <div class="top__title title">ТОП автопарки</div>-->
        <!--        <div class="top__grid-list grid">-->
        <!--          @for (card of cards; track card) {-->
        <!--            <app-auction-autopark-card-->
        <!--              class="item"-->
        <!--              [card]="card"-->
        <!--              (click)="navigateToDetailed(card.id)"-->
        <!--            ></app-auction-autopark-card>-->
        <!--          }-->
        <!--        </div>-->
        <app-preview-component></app-preview-component>
<!--        <p-galleria-->
<!--          [value]="IMAGES"-->
<!--          [numVisible]="5"-->
<!--          [circular]="true"-->
<!--          [showItemNavigators]="true"-->
<!--          [showThumbnails]="false"-->
<!--          [containerStyle]="{ width: '740px', 'max-height': '500px' }"-->
<!--        >-->
<!--          <ng-template pTemplate="item" let-item>-->
<!--            <img [src]="item" style="width: 100%; display: block; height: 500px; object-fit: contain" />-->
<!--          </ng-template>-->
<!--        </p-galleria>-->
      </div>
      <app-car-filter></app-car-filter>
      <div class="checked container">
        <!--       <div class="checked__title title">Проверенные автопарки</div>
        <div class="checked__grid-list grid">
          @for (card of cards.checked; track card) {
            <app-auction-autopark-card
              class="item"
              [card]="card"
              (click)="navigateToDetailed(card.id)"
            ></app-auction-autopark-card>
          }
        </div>-->
      </div>
      <div class="new container">
        <div class="new__title title">Новые автопарки</div>
        <div class="new__grid-list grid">
          @for (card of cards; track card) {
            <app-auction-autopark-card
              class="item"
              [card]="card"
              (click)="navigateToDetailed(card.id)"
            ></app-auction-autopark-card>
          }
        </div>
      </div>
    </div>
  }
}
