@import "mixins";
@import "colors";

.rent-card {

  &__additional {
    @include flexMix(column, stretch, space-between, 0.75rem);

    @include media-xl() {
      height: 12.5rem;
      font-size: 14px;
      padding: 1rem;
      width: 12.5rem;
    }

    @include media-l() {
      width: 100%;
    }

    width: 21.875rem;
    padding: 2rem;
    border: 1px solid $light-text-color;
    border-radius: 1rem;
  }

  &__price {
    @include media-xl() {
      font-size: 18px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    list-style: inside;
  }
}