<div class="rent-card">
  <div class="rent-card__hat">
    <div class="rent-card__price subtitle">
      <span>{{ price }}</span>
      руб / сут
    </div>

    @if (schedule) {
      <div class="rent-card__schedule">
        {{ schedule }}
      </div>
    }
  </div>

  <ul class="rent-card__list">
    @for (info of financialInfo; track info) {
      <li class="small-text">
        {{ info }}
      </li>
    }
  </ul>

  @if (status === RequestStatus.UNAVAILABLE) {
    <p-button class="rent-card__btn" label="Арендована" [disabled]="true"></p-button>
  } @else {
    <p-button class="rent-card__btn" (click)="rent()" [label]="btnTitle"></p-button>
  }
  <ng-content></ng-content>
</div>
