@import "src/theme/mixins";
@import "src/theme/colors";

.sub-info-panel {
  @include flexMix(column, flex-start, space-between);

  width: 100%;
  height: 3.75rem;
  padding: 0.75rem 1.25rem;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 6px;

  .title {
    font-size: 14px;
  }

  .small-text {
    font-size: 12px;
  }
}