@import "mixins";
@import "colors";

.footer {
  background-color: $dark-bg-color;
  color: var(--primary-color-text);

  &__subtitle {
    margin-bottom: 1.5rem;
    text-transform: uppercase;
  }

  &__menu {
    @include flexMix(row, stretch, flex-start);

    padding: 3rem 0;
    gap: 10rem;

    @include media-xl() {
      justify-content: space-between;
      gap: 0;
    }

    @include media-l() {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 3rem;
    }
  }

  &__list {
    @include flexMix(column, stretch, center);

    row-gap: 1rem;
  }

  &__link {
    color: $light-text-color;

    &:hover {
      color: var(--primary-color);
    }
  }

  &__divider {
    width: 100%;
    height: 1px;
    background: $light-text-color;
  }

  &__copyright {
    padding: 1rem 0;
    font-size: 0.7rem;
    color: $light-text-color;

    @include media-l() {
      text-align: center;
    }
  }
}
