<footer class="footer">
  <nav class="footer__menu container">
    <div class="footer__column">
      <div class="footer__subtitle subtitle">Водителям</div>
      <ul class="footer__list">
        <li *ngFor="let driverItem of driverNav">
          <a class="footer__link link">{{ driverItem.label }}</a>
        </li>
      </ul>
    </div>

    <div class="footer__column">
      <div class="footer__subtitle subtitle">Автопаркам</div>
      <ul class="footer__list">
        <li *ngFor="let autoparkItem of autoparkNav">
          <a class="footer__link link">{{ autoparkItem.label }}</a>
        </li>
      </ul>
    </div>

    <div class="footer__column">
      <div class="footer__subtitle subtitle">Информация</div>
      <ul class="footer__list">
        <li *ngFor="let infoItem of infoNav">
          <a class="footer__link link">{{ infoItem.label }}</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="footer__divider"></div>

  <div class="footer__copyright container">
    Copyright © 2023 ЯАВТОРФ. Все права защищены
  </div>
</footer>
