<footer class="footer">
  <div class="footer-container">
    <div class="footer-container--padding">
      <div class="column">
        <h4>Водителям</h4>
        <ul>
          <li *ngFor="let driverItem of driver"><a>{{driverItem.label}}</a></li>
        </ul>
      </div>
      <div class="column">
        <h4>Автопаркам</h4>
        <ul>
          <li *ngFor="let autoparkItem of autopark"><a>{{autoparkItem.label}}</a></li>
        </ul>
      </div>
      <div class="column">
        <h4>Информация</h4>
        <ul>
          <li *ngFor="let infoItem of info"><a>{{infoItem.label}}</a></li>
        </ul>
      </div>
      <div class="column">
        <h4>ЮРИДИЧЕСКАЯ СЛУЖБА</h4>
        <ul>
          <li *ngFor="let autoparkItem of legalService"><a>{{autoparkItem.label}}</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <span class="text">{{copyrightText}}</span>
  </div>
</footer>