<form [formGroup]="carForm" (ngSubmit)="onSubmit()">
  <div class="create-car">
    
    <div class="create-car__specifications">
      <div class="mark-model">
        <div class="mark">
          <div class="subtitle">
            Марка автомобиля
          </div>
          <div class="specification-input">
            <input type="text" [formControl]="carForm.controls.brand" pInputText
                   placeholder="Начните вводить название"/>
          </div>
        </div>
        <div class="model">
          <div class="subtitle">
            Модель автомобиля
          </div>
          <div class="specification-input">
            <input type="text" [formControl]="carForm.controls.model" pInputText
                   placeholder="Начните вводить название"/>
          </div>
        </div>
      </div>
      <div class="additional">
        <div class="year">
          <div class="subtitle">
            Год выпуска
          </div>
          <div class="specification-input">
            <p-inputNumber
                    [useGrouping]="false"
                    [min]="1940" [max]="getCurrentYear()"
                    [formControl]="carForm.controls.yearOfRelease"
                    suffix=" год"
                    placeholder="Введите год"
            ></p-inputNumber>
          </div>
        </div>
        <div class="kpp">
          <div class="subtitle">
            КПП
          </div>
          <div class="specification-input">
            <p-dropdown [options]="transmission"
                        [formControl]="carForm.controls.transmission"
                        placeholder="Выберите из списка"
            ></p-dropdown>
          </div>
        </div>
        <div class="fuel-type">
          <div class="subtitle">
            Тип топлива
          </div>
          <div class="specification-input">
            <p-dropdown
                    [options]="fuelTypes"
                    [formControl]="carForm.controls.fuelType"
                    placeholder="Выберите из списка"
            ></p-dropdown>
          </div>
        </div>
        <div class="power">
          <div class="subtitle">
            Мощность
          </div>
          <div class="specification-input">
            <p-inputNumber
                    [useGrouping]="false"
                    [min]="20" [max]="1000"
                    [formControl]="carForm.controls.enginePower"
                    suffix=" л.с."
                    placeholder="Введите мощность автомобиля"
            ></p-inputNumber>
          </div>
        </div>
      </div>
      <div class="rental-conditions">
      <p-dropdown
        [options]="workSchedule"
        placeholder="Выберите график работы"
      ></p-dropdown>
      </div>
      <div class="tariff">
        <div class="subtitle">
          Тариф
        </div>
        <div class="label">
          Вам доступны тарифы, которые подходят для выбранного автомобиля в вашем регионе
        </div>
        <div class="specification-input">
          <p-dropdown
                  [options]="tariffTypes"
                  [formControl]="carForm.controls.type"
                  placeholder="Выберите тариф(ы)"
          ></p-dropdown>
        </div>
      </div>
    </div>
    
    <div class="create-car__financial-additional-info">
      <div class="financial-info">
        <div class="subtitle">
          Финансовая информация
        </div>
        <div class="label">
          Отметьте информацию, которая будет отражена в карточке автомобиля
        </div>
        <div class="options">
          <ng-container *ngFor="let option of financialOptions">
            <div [class]="option.class">
              <ng-container *ngFor="let item of option.items; let isLast = last">
                <p-checkbox [binary]="true" class="checkbox"></p-checkbox>
                <label>{{ item.label }}</label>
                <ng-container *ngIf="!isLast">
                  <span class="vertical-line"></span>
                </ng-container>
                <ng-container *ngIf="item.placeholder">
                  <p-inputNumber [placeholder]="item.placeholder" class="option-input"></p-inputNumber>
                  <span>{{ item.unit }}</span>
                </ng-container>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="additional-info">
        <div class="subtitle">
          Дополнительная информация
        </div>
        <div class="label">
          Отметьте информацию, которая будет отражена в карточке автомобиля
        </div>
        <p-multiSelect optionLabel="label" display="chip" [options]="additionalInfo"></p-multiSelect>
      </div>
    </div>
    
    <div class="create-car__photos">
      <div class="subtitle">
        Фотографии автомобиля
      </div>
      <div class="label">
        Загрузите фотографии автомобиля, которые будут отображаться на сайте (минимум 1, максимум 10)
      </div>
      <file-upload></file-upload>
    </div>
    
    <div class="create-car__btns">
      <p-button
              type="submit"
              [disabled]="(carForm.invalid || carForm.pending)"
              (submit)="onSubmit()"
              class="add-btn"
              label="Добавить автомобиль"
      ></p-button>
      <p-button
              class="cancel-btn"
              label="Отменить"
              styleClass="p-button-outlined"
      ></p-button>
    </div>
  </div>
</form>
