<div class="container">
  <p-card class="review">
    <div class="review__header">
      <div class="review__user-info">
        <img
          [src]="reviewModel.avatarPath"
          class="review__avatar"
          alt="user avatar"
        />

        <div class="review__header-wrapper">
          <div class="subtitle">
            {{ reviewModel.userFio }}
          </div>
          <div class="small-text">
            {{ reviewModel.userStatus }}
          </div>
        </div>
      </div>

      <div class="review__header-wrapper review__rating">
        <form [formGroup]="formGroup">
          <p-rating
            formControlName="defaultValue"
            [cancel]="false"
            [readonly]="true"
          ></p-rating>
        </form>

        <div class="review__date small-text">{{ reviewModel.date }}</div>
      </div>
    </div>

    <div>
      Автомобиль:
      <span class="review__text"> {{ reviewModel.autoMark }}</span>
    </div>

    <div>
      Комментарий:
      <span class="review__text">{{ reviewModel.commentText }}</span>
    </div>
  </p-card>
</div>
