@import "colors";
@import "mixins";

:host ::ng-deep {
  .p-card-content {
    @include flexMix(column, stretch, space-between);

    padding: 1rem;
    gap: 1rem;
  }

  .p-rating-icon {
    width: 1.5rem;
    justify-content: flex-end;
    cursor: default;
  }
}

.review {
  &__header {
    @include flexMix(row, stretch, space-between);

    @include media-l() {
      flex-direction: column;
      gap: 1rem;
    }
  }

  &__user-info {
    @include flexMix(row, stretch, flex-start);

    gap: 1rem;

    @include media-s() {
      flex-direction: column;
      align-items: center;
      text-align: center;

      gap: 1rem;
    }
  }

  &__avatar {
    width: 120px;
    height: 120px;
    border-radius: 1rem;
  }

  &__header-wrapper {
    @include flexMix(column, stretch, flex-start);

    gap: 0.5rem;
  }

  &__rating {
    @include media-l() {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__date {
    align-self: flex-end;

    @include media-l() {
      align-self: center;
    }
  }

  &__text {
    color: var(--text-color-secondary);
  }
}
