@import "../../../theme/colors.scss";
@import "mixins";

.review-wrapper {
  width: 100%;
  height: 23.2vh;

  .header {
    @include flexMix(row, center, space-between);
    @include media-l() {
      flex-direction: column;
    }

    margin-bottom: 1rem;

    &__user-info {
      @include flexMix();
      @include media-l() {
        align-self: flex-start;
      }

      .avatar {
        position: relative;
        width: 6.875rem;
        height: 6.875rem;

        img {
          @include circle-logo-properties(110);

          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

      }

      .name-block {
        @include flexMix(column, flex-start);

        margin-left: 1.688rem;

        &__fio {
          font-weight: 700;
          font-size: 1.375rem;
          color: $blue-color;
        }

        &__status {
          margin-top: 0.4rem;
        }
      }
    }

    &__additional-info {
      @include flexMix();
      align-self: flex-start;

      @include media-s() {
        display: block;

        .date {
          margin-left: 0.35rem;
        }

        .rating {
          margin-left: 0 !important;
        }
      }

      .rating {
        margin-left: 1rem;
      }
    }
  }

  .main {
    &__auto {
      margin-bottom: 0.7rem;

      &-bold {
        font-weight: 700;
      }
    }

    &__comment {
      &-bold {
        font-weight: 700;
      }
    }
  }
}

:host {
  ::ng-deep .p-card {
    border-radius: 1rem;
  }
}