<div class="wrapper">
  <div class="hat container">
    <app-autopark-hat [hatData]="mockAutoparkHat"></app-autopark-hat>
  </div>

  <div class="tabs">
    <p-tabView>
      <p-tabPanel header="Автомобили">
        <app-load-more>
          <app-auto-card *ngFor="let auto of mockCardsCar" [autoCard]="auto"></app-auto-card>
        </app-load-more>
      </p-tabPanel>
      <p-tabPanel header="Профиль">
        авто
      </p-tabPanel>
      <p-tabPanel header="Отзывы">
        авто
      </p-tabPanel>
      <p-tabPanel header="Связаться с автопарком">
        авто
      </p-tabPanel>
    </p-tabView>
  </div>
</div>
