<div class="sidenav-filter">
  <form [formGroup]="sidenavFilterForm">
    <div class="sidenav-filter__date item" *ngIf="filterType == FilterType.HISTORY">
      <div class="label">
        Дата заказа
      </div>
      <div class="datepickers">
        <div class="datepickers__row">
          От
          <p-calendar [formControlName]="'dateStart'" [showIcon]="true"></p-calendar>
        </div>
        <div class="datepickers__row">
          До
          <p-calendar [formControlName]="'dateFinish'" [showIcon]="true"></p-calendar>
        </div>
      </div>
    </div>
    <div class="sidenav-filter__request-status item" *ngIf="filterType == FilterType.REQUESTS">
      <div class="label">
        Статус заказа
      </div>
      <div class="statuses">
        <p-checkbox
                *ngFor="let option of requestStatuses"
                [formControlName]="'requestStatuses'"
                [label]="option.label"
                [value]="option.value"
        ></p-checkbox>
      </div>
    </div>
    <div class="sidenav-filter__tariff item">
      <div class="label">
        Тариф
      </div>
      <div class="tariffs">
        <p-checkbox
                *ngFor="let option of tariffs"
                [formControl]="sidenavFilterForm.controls.tariff"
                [label]="option.label"
                [value]="option.value"
        ></p-checkbox>
      </div>
    
    </div>
    <div class="sidenav-filter__brand item">
      <div class="label">
        Марка
      </div>
      <div class="dropdown">
        <p-dropdown
                formControlName="brand"
                [options]="(brands$ | async)!"
                [optionValue]="'value'"
                [optionLabel]="'label'"
                [filter]="true"
                [showClear]="true"
                optionLabel="label"
                filterBy="label"
                placeholder="Выберите марку"
        ></p-dropdown>
      </div>
    </div>
    <div class="sidenav-filter__model item">
      <div class="label">
        Модель
      </div>
      <div class="dropdown">
        <p-dropdown
                [formControlName]="'model'"
                [options]="(models$ | async)!"
                [optionValue]="'value'"
                [optionLabel]="'label'"
                [dropdownIcon]="(areModelsLoaded$ | async) ? 'pi pi-spinner pi-spin' : 'pi pi-chevron-down'"
                placeholder="Выберите модель"
        >
        </p-dropdown>
      </div>
    </div>
    <div class="sidenav-filter__price item">
      <div class="label">
        Цена
      </div>
      <div class="price-range">
        <p-inputNumber
                [formControlName]="'startPrice'"
                [mode]="'currency'"
                [currency]="'RUB'"
                [locale]="'ru-RU'"
                placeholder="min"
        ></p-inputNumber>
        <span class="price-range__dash"></span>
        <p-inputNumber
                [formControlName]="'endPrice'"
                [mode]="'currency'"
                [currency]="'RUB'"
                [locale]="'ru-RU'"
                placeholder="max"
        ></p-inputNumber>
      </div>
    </div>
  </form>

</div>