@import "mixins";
@import "colors";

:host ::ng-deep {
  .p-checkbox .p-checkbox-box {
    height: 1rem;
    width: 1rem;
  }

  .p-calendar {
    width: 182px;
    height: 26px;

    .p-inputtext {
      height: 26px;
    }
  }

  .p-dropdown {
    width: 100%;
  }

  .p-inputnumber-input {
    width: 90px;
    height: 26px;
  }
}

.sidenav-filter .item {
  padding: 1.25rem 1rem;
  border-bottom: 1px solid #D9D9D9;
}

.sidenav-filter .item:last-child {
  border-bottom: none;
}

.sidenav-filter {

  border-radius: 14px;
  border: 1px solid #CED4DA;

  .label {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .tariffs, .statuses {
    @include flexMix(column, flex-start, flex-start, 10px);

    font-size: 14px;
  }

  &__date {
    .datepickers {
      &__row:first-child {
        margin-bottom: 10px;
      }

      &__row {
        @include flexMix(row, center, flex-start, 1rem);
      }
    }
  }

  &__price {
    .price-range {
      @include flexMix(row, center, space-between);

      &__dash {
        width: 14px;
        height: 2px;
        background-color: $light-text-color;
      }
    }
  }
}