:host ::ng-deep {
  .breadcrumb {
    margin-bottom: 1.875rem
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  padding: 1.875rem 0 4.375rem 0;
  flex-grow: 1;
}

.footer {
  flex-shrink: 0;
}
