:host ::ng-deep {
  .breadcrumb {
    margin-bottom: 1.875rem
  }
}
.wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.main {
  padding: 1.875rem 0 3.75rem 0;

  flex-grow: 1;
}

.footer {
  flex-shrink: 0;
}
