<div class="container profile">
  <div class="bonus-system">
    <div class="profile-title">Бонусная система</div>
    <div class="bonus-system__list">
      @for (bonus of autopark.bonuses; track bonus) {
        <app-bonus [bonus]="bonus" class="bonus"></app-bonus>
      }
    </div>
  </div>
  <div class="rental-conditions">
    <div class="profile-title">Условия аренды</div>
    <div class="list">
      @for (item of autopark.rentalConditions; track item) {
        <ul class="list__item">
          <li>– {{ item }}</li>
        </ul>
      }
      <ul>
        <li class="list__item">– Аренда от {{ autopark.minRentPeriod }} дней</li>
        <li class="list__item" *appRentSchedule="autopark.rentSchedule; let scheduleText">
          – График аренды {{ autopark.rentSchedule }} ({{ scheduleText }})
        </li>
      </ul>
    </div>
  </div>
  <div class="map">
    <div class="profile-title">Как нас найти</div>
    <div class="map__address">
      {{ autopark.address }}
    </div>
  </div>
</div>
