<div class="container profile">
  <div class="bonus-system">
    <div class="profile-title">
      Бонусная система
    </div>
    <div class="bonus-system__list">
      <app-bonus *ngFor="let bonus of autopark.bonuses" [bonus]="bonus" class="bonus"></app-bonus>
    </div>
  </div>
  <div class="rental-conditions">
    <div class="profile-title">
      Условия аренды
    </div>
    <div class="list">
      <ul *ngFor="let item of autopark.rentalConditions" class="list__item">
        <li>
          – {{item}}
        </li>
      </ul>
      <ul>
        <li class="list__item">
          – Аренда от {{autopark.minRentPeriod}} дней
        </li>
        <li class="list__item" *rentSchedule="autopark.rentSchedule; let scheduleText">
          – График аренды {{autopark.rentSchedule}} ({{ scheduleText }})
        </li>
      </ul>
    </div>
  </div>
  <div class="map">
    <div class="profile-title">
      Как нас найти
    </div>
    <div class="map__address">
      {{autopark.address}}
    </div>
  </div>
</div>
