@import "reset";
@import "colors";
@import "mixins";
@import "placeholders";
@import "primeng/resources/themes/md-light-deeppurple/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

html,
body {
  height: 100%;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
}

.container {
  max-width: 1200px;
  margin: 0 auto;

  @include media-xl() {
    max-width: 740px;
  }

  @include media-l() {
    max-width: 460px;
  }

  @include media-s() {
    max-width: 300px;
  }
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: bold;
}

.link {
  font-size: 1rem;
  cursor: pointer;

  @extend %transition;
}

// .p-rating .p-rating-icon {
//   color: $gold-color !important;
// }
