<div class="auto-card container" *ngIf="(carProfile$|async) as auto">
  {{auto | json}}
  <div class="auto-card__gallery gallery">
    <p-galleria
            [value]="auto.photos"
            [numVisible]="5"
            [responsiveOptions]="responsiveOptions"
    >
      <ng-template pTemplate="item" let-item>
        <img [src]="item" class="gallery__img"/>
      </ng-template>
      <ng-template pTemplate="thumbnail" let-item>
        <img [src]="item" class="gallery__thumbnail"/>
      </ng-template>
    </p-galleria>
  </div>
  
  <div class="auto-card__content">
    <div class="auto-card__header">
      <div class="auto-card__title">
        {{ auto.brand }} {{auto.model}} {{ auto.yearOfRelease }}
      </div>
      <div class="auto-card__views-counter">
        <i class="pi pi-eye"></i>1000
      </div>
    </div>
    
    <div class="auto-card__info">
      <div class="auto-card__list">
        <div class="auto-card__subtitle">Характеристики</div>
        <div class="auto-card__list-item">
          Топливо: Бензин
        </div>
        <div class="auto-card__list-item">
          Мощность: {{ auto.enginePower }} л.с.
        </div>
        <div class="auto-card__list-item">
          Коробка: {{ auto.transmission }}
        </div>
        <div class="auto-card__list-item">
          Тариф: {{ auto.type }}
        </div>
      </div>
      
      <div class="auto-card__list">
        <div class="auto-card__subtitle">Условия аренды</div>
        <div
                *ngFor="let condition of [4]"
                class="auto-card__list-item"
        >
          условия оренды
        </div>
      </div>
      
      <div class="auto-card__list">
        <!--        <div class="auto-card__subtitle">График работы</div>-->
        <!--        <div-->
        <!--                *ngFor="let day of auto.daysOfWork"-->
        <!--                class="auto-card__list-item"-->
        <!--        >-->
        <!--          {{ day }}-->
        <!--        </div>-->
      </div>
    </div>
    
    <div class="auto-card__footer">
      <div class="auto-card__price">{{ auto.price }} руб / сут</div>
      <p-button label="Арендовать" class="auto-card__button"></p-button>
    </div>
  </div>
</div>
