<div class="auto-card container" *ngIf="(carProfile$ | async) as car">
  
  <div class="auto-card__flex-block">
    
    <div class="left">
      <div class="gallery">
        <div class="gallery__logo">
        
        </div>
        <div class="gallery__photos">
        
        </div>
        <!--    <p-galleria-->
        <!--            [value]="auto.photos"-->
        <!--            [numVisible]="5"-->
        <!--            [responsiveOptions]="responsiveOptions"-->
        <!--    >-->
        <!--      <ng-template pTemplate="item" let-item>-->
        <!--        <img [src]="item" class="gallery__img"/>-->
        <!--      </ng-template>-->
        <!--      <ng-template pTemplate="thumbnail" let-item>-->
        <!--        <img [src]="item" class="gallery__thumbnail"/>-->
        <!--      </ng-template>-->
        <!--    </p-galleria>-->
      </div>
      <div class="rent-conditions">
        <div class="title subtitle">
          Условия аренды
        </div>
        <div class="list">
          <div class="list__item">
            – Выплата осуществляется раз в 3 дня
          </div>
          <div class="list__item">
            – Аренда от 7 дней
          </div>
          <div class="list__item">
            – “График аренды” - 6/1 (6 дней оплачивается, 1 день бесплатно)
          </div>
        </div>
      </div>
    </div>
    
    <div class="right">
      <div class="content">
        <div class="content__hat">
          {{car.model}} {{car.brand}} <span class="year">{{car.yearOfRelease}}</span>
        </div>
        <div class="main-content">
          <div class="content__characteristic">
            <div class="row">
              <div class="row__name">
                Мощность:
              </div>
              <div class="row__value">
                {{car.enginePower}} л.с.
              </div>
            </div>
            <div class="row">
              <div class="row__name">
                Коробка:
              </div>
              <div class="row__value">
                {{car.transmission}}
              </div>
            </div>
            <div class="row">
              <div class="row__name">
                Топливо:
              </div>
              <div class="row__value">
                {{car.fuel}}
              </div>
            </div>
          </div>
          <div class="content__additional-info">
            <ng-container *ngFor="let item of car.additionalInfo">
              <div class="item">
                <i class="pi pi-check"></i>
                {{item}}
              </div>
            </ng-container>
          </div>
        </div>
      
      </div>
      <div class="rent-card">
        <app-rent-card
                [price]="car.price"
                [conditions]="car.financialInfo"
                [btnTitle]="'Арендовать'"
                [schedule]="'6/1'"
        ></app-rent-card>
      </div>
    </div>
  
  
  </div>
  
  <div class="address">
    <div class="address__title subtitle">
      Адрес автопарка
    </div>
    <div>
      {{car.autoparkAddress}}
    </div>
  </div>
  
  <div class="bonuses">
    <!--    <div class="bonuses__title subtitle">-->
    <!--      Бонусная система-->
    <!--    </div>-->
    <!--    -->
    <!--    <div class="bonuses__list">-->
    <!--    -->
    <!--    </div>-->
  </div>
</div>
