@if (isLoading$ | async) {
  <app-spinner></app-spinner>
} @else {
  @if (autoparkDetailed$ | async; as autopark) {
    <div class="wrapper">
      <div class="hat container">
        <app-autopark-hat [hatData]="autopark"></app-autopark-hat>
      </div>
      <div class="tabs">
        <p-tabView [activeIndex]="1" (onChange)="changeActiveIndex($event)">
          <p-tabPanel header="Автомобили">
            <app-load-more>
              @for (car of cars$ | async; track car) {
                <app-car-card [car]="car"></app-car-card>
              }
            </app-load-more>
          </p-tabPanel>
          <p-tabPanel header="Профиль">
            <app-profile [autopark]="autopark"></app-profile>
          </p-tabPanel>
          <p-tabPanel [disabled]="true" header="Отзывы">
            <!--          <app-load-more btnLabel="Другие отзывы">-->
            <!--            <app-review-user-card *ngFor="let review of reviews|async" [review]="review"></app-review-user-card>-->
            <!--          </app-load-more>-->
          </p-tabPanel>
          <p-tabPanel [disabled]="true" header="Связаться с автопарком"></p-tabPanel>
        </p-tabView>
      </div>
    </div>
  }
}
