@import "mixins";
@import "colors";

:host ::ng-deep {
  .auto {
    gap: 1rem!important;
    margin-bottom: 1.25rem;

    .auto-card__img {
      width: 280px;
      height: 190px;
    }

    .rent-card__additional {
      width: 300px;
      height: 180px;
      padding: 18px 25px;
    }
  }
  .review-btn .p-button {
    width: 180px;
  }
}

.auto-characteristics {
  @include flexMix(Ñolumn, stretch, space-between);

  width: 12.5rem;

  .block > * {
    margin-top: 0.625rem;
  }
}