<div class="autopark">
  <div class="autopark__title">
    <div class="label">
      Введите название автопарка
    </div>
    <input type="text"
           pInputText
           placeholder="Быстрые ветра"
    />
  </div>
  <div class="autopark__address">
    <div class="label">
      Введите адрес
    </div>
    <div class="inputs">
      <input type="text"
             pInputText
             placeholder="Регион"
      />
      <input type="text"
             pInputText
             placeholder="Адрес"
      />
    </div>
  </div>
  <div class="autopark__photos">
    <div class="label">
      Фотографии автопарка
    </div>
    <div class="autopark__info-text">
      Загрузите логотип автопарка и задний фон, которые будут отображаться на сайте
    </div>
    
    <div class="setting-block">
      <div class="setting-block__logo">
      
      </div>
      
      <div class="setting-block__info">
        <div class="title">
          быстрые ветра
        </div>
        <div class="owner">
          Директор: Яна
        </div>
      </div>
      
      <div class="setting-block__load-btns">
        <label class="link">Загрузить логотип</label>
        <label class="link">Загрузить фон</label>
      </div>
    </div>
  </div>
  <div class="autopark__bonuses">
    <div class="left">
      <div class="label">
        Бонусная система
      </div>
      <div class="autopark__info-text">
        Выберите бонусы, которые получит водитель при аренде автомобиля
      </div>
      <div class="bonuses">
        <div *ngFor="let bonus of bonuses$ | async" class="bonus">
          <p-checkbox name="group" [value]="bonus.title" [inputId]="bonus.title"></p-checkbox>
          <img [src]="bonus.icon" alt="">
          <label [for]="bonus.title">
            <div class="bonus__title">
              {{bonus.title}}
            </div>
            <div class="bonus__description">
              {{bonus.description}}
            </div>
          </label>
          <br>
        </div>
      
      </div>
    </div>
    
    <div class="right">
      <div class="label">
        Добавить свой бонус
      </div>
      <div class="autopark__info-text">
        Можете создать свой уникальный бонус
      </div>
      <input type="text"
             pInputText
             placeholder="название"
      />
      <textarea rows="3" cols="20" pInputTextarea [autoResize]="true" placeholder="Описание"></textarea>
    </div>
  </div>
  <div class="autopark__descr">
    <div class="label">
      Введите описание автопарка
    </div>
    <textarea rows="5" cols="90" pInputTextarea [autoResize]="true" placeholder="Описание"></textarea>
  </div>
  <p-button (click)="navigateToVerification()" class="next" label="Далее"></p-button>
</div>
